<!--FlashMessageの表示-->
<p id=notice>
  <% flash.each do |kye, value| %>
  <%= value %>
  <% end %>
</p>
<!--Title表示-->
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<!--Body表示-->
<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<!--Editリンクとindexリンク-->
<%= link_to "Edit", edit_book_path(params[:id]), {class: "edit_#{params[:id]}"} %>
|
<a class="back" href=/books>Back</a>