<!--Title表示-->
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<!--Body表示-->
<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<!--Editリンクとindexリンク-->
<p>
  <%= link_to "Edit", edit_book_path(params[:id]) %>
  |
  <a class="back" href=/books>Back</a>
</p>